@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v18-latin-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  font: 16px "Roboto", sans-serif;
  color: #7a7a7a;

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
